* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
}
.parent {
  gap: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 600px;
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  text-align: center;
}
.card p {
  margin: 20px 0px;
}
.card img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
