* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}
/* html,
body {
  height: 100%;
  width: 100%;
} */
.parent {
  background-color: #111;
  min-height: 100vh;
  gap: 30px;
  display: flex;
  align-items: center;
flex-wrap: wrap;

}
.card {
    margin: 20px;
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  padding: 30px;
  color: #111;
  display: flex;
  flex-direction: column;
}
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 9px;
  padding-top: 11px;
object-fit: cover;
}
.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 13px;
  gap: 2px;
  background-color: transparent;
  color: #b1b1b1;
}
.center {
  margin-top: 80px;
  margin-bottom: 50px;
  /* background-color: red; */
}
.center h3 {
  font-size: 17px;
  font-weight: 500;
}
.center h3 span {
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2 {
  font-size: 20px;
}
.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.center .tag h4 {
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  border-radius: 5px;
  padding: 4px 8px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b1b1b1;
  /* padding-top: 80px;s */
}
.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  column-width: 600;
}
.bottom h3 {
  font-size: 17px;
  padding-top: 14px;
}
.bottom p {
  font-size: 12px;
  color: #8b8b8b;
}
